body{
  background-color: #e4db5e;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  flex-direction: column;
  background-color: #e4db5e;
}
.home-main {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 646px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-navbar-interactive {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-transform: uppercase;
  color: #ebb92f;
}
.home-link {
  text-decoration: none;
  color: #2b2b2b;
}
.home-link02 {
  text-decoration: none;
  color: #2b2b2b;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e4db5e;
  
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}


.home-icon-group {
  display: flex;
}


.home-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: #f5a613;
  font-size: 120px;
  font-style: normal;
  font-family: Lora;
  font-weight: 600;
  line-height: 90%;
}
.home-caption {
  color: #2c2c2c;
  font-size: 30px;
  line-height: 50px;
}
.home-buttons {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  
}
.home-image {
  flex: 1;
  height: 50%;
  display: flex;
  overflow: hidden;
  align-items: right;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: 100%;
  background-position: 60%;
 
  background-image: url("public/kenjni.png");
  border: 10px solid rgb(48, 48, 48);
  
}
.home-images {
  flex: 1;
  height: 90%;
  display: flex;
  overflow: auto;
  align-items: right;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: 70%;
  background-position: 90%;
  border: 10px solid #2b2b2b;
  margin: 11%;
}

.home-details {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}

.home-text04 {
  max-width: 282px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.home-mission {
  gap: var(--dl-space-space-fiveunits);
  width: 200%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: right;
  border: 50px solid rgb(48, 48, 48);
}
.home-content01 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: hwb(0 16% 84%);
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  
}
.home-header01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading01 {
  color: #414141;
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 100px;
}
.home-caption01 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-highlights {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-highlight {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 248px;
  align-items: flex-start;
  flex-direction: column;
}

.home-description1 {
  color: rgb(34, 34, 35);
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}
.home-images {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  max-width: 240px;
}
.home-image04 {
  width: 750px;
  object-fit: fill;
}
.home-content02 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}


.home-caption02 {
  color: rgb(243, 196, 43);
  font-size: 18px;
  line-height: 27px;
}
.home-caption01 {
  color: rgb(235, 200, 44);
  font-size: 28px;
  line-height: 50px;
}
